/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom font-face declarations here */
@font-face {
  font-family: "NewTegomin";
  src: url("/font/NewTegomin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nosifer";
  src: url("/font/Nosifer-Regular.ttf") format("truetype");
}

body {
  font-family: 'NewTegomin', sans-serif;
}

/* Optional: Add some Tailwind customization */
